@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #1f2937;
}

body.dark {
  background-color: #111827;
  color: #e5e7eb;
}

:root {
  --color-primary: #4f46e5;
  --color-secondary: #1b13bd;
}
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&amp;display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "UniSans", "Uni Neue", "Nunito", sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: "UniSans";
  src: url("../fonts/Uni\ Sans\ Regular.woff") format("woff"), url("../fonts/Uni\ Sans\ Light.woff") format("woff"),
    url("../fonts/Uni\ Sans\ Bold.woff") format("woff"), url("../fonts/Uni\ Sans\ Bold\ Italic.woff") format("woff"),
    url("../fonts/Uni\ Sans\ Book.woff") format("woff"), url("../fonts/Uni\ Sans\ Book\ Italic.woff") format("woff"),
    url("../fonts/Uni\ Sans\ Medium.woff") format("woff"), url("../fonts/Uni\ Sans\ Medium\ Italic.woff") format("woff");
}

html {
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow-x: auto; /* Garante que o scroll lateral funcione */
  overflow-y: scroll; /* Força a barra de rolagem vertical, se necessário */
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5rem;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

main {
  flex: 1; /* Permite que o main ocupe o espaço disponível */
  padding-top: 64px; /* Ajuste conforme a altura do Header */
}

footer {
  margin-top: auto; /* Empurra o footer para o final */
}

button {
  max-width: 100%; /* Evita vazamento */
  white-space: nowrap; /* Impede quebra de linha desnecessária */
}

.fixed.inset-0 {
  height: 100vh; /* Garante que não exceda a altura da viewport */
  width: 100vw;
}

aside {
  max-height: 100vh; /* Limita a altura da sidebar */
  overflow-y: auto; /* Permite scroll apenas dentro da sidebar */
}

/* Garante que as setas apareçam em todos os navegadores */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Garantir aparência no Firefox */
  appearance: textfield; /* Para navegadores como Edge */
}

.text-lg.font-bold.text-center.mt-2 {
  font-size: 1rem;
  text-align: left;
  line-height: 24px;
  color: var(--color-secondary);
  letter-spacing: 1%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
