@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4f46e5;
  --color-secondary: #1b13bd;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "UniSans", sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: "UniSans";
  src: url("../assets/fonts/UniSans-Bold.woff") format("woff"), url("../assets/fonts/UniSans-Bold-Italic.woff") format("woff"),
    url("../assets/fonts/UniSans-Book.woff") format("woff"), url("../assets/fonts/UniSans-Book-Italic.woff") format("woff"),
    url("../assets/fonts/UniSans-Heavy.woff") format("woff"), url("../assets/fonts/UniSans-Heavy-Italic.woff") format("woff"),
    url("../assets/fonts/UniSans-Italic.woff") format("woff");
}

html {
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow-x: auto; /* Garante que o scroll lateral funcione */
  overflow-y: scroll; /* Força a barra de rolagem vertical, se necessário */
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-primary) transparent;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5rem;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

body {
  background-color: white;
  color: #1f2937;
}

body.dark {
  background-color: #111827;
  color: #e5e7eb;
}
/* Adicione isso no seu tailwind.css ou no arquivo CSS global */

main {
  flex: 1; /* Permite que o main ocupe o espaço disponível */
  padding-top: 64px; /* Ajuste conforme a altura do Header */
}

footer {
  margin-top: auto; /* Empurra o footer para o final */
}

button {
  max-width: 100%; /* Evita vazamento */
  white-space: nowrap; /* Impede quebra de linha desnecessária */
}

.fixed.inset-0 {
  height: 100vh; /* Garante que não exceda a altura da viewport */
  width: 100vw;
}

aside {
  max-height: 100vh; /* Limita a altura da sidebar */
  overflow-y: auto; /* Permite scroll apenas dentro da sidebar */
}

/* Garante que as setas apareçam em todos os navegadores */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Garantir aparência no Firefox */
  appearance: textfield; /* Para navegadores como Edge */
}

.title-card {
  font-size: 1.2rem;
  text-align: left;
  line-height: 24px;
  /* color: var(--color-secondary); */
  letter-spacing: 1%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container-posts{
  background-image: url("../assets/video/video02.mp4");
}
img, video {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}
.image-modal, .video-modal {
  max-width: 700px;
  height: 400px;
  object-fit: cover;
}